<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>empty page</title>
</head>
<header>
    <h1><center>Пуста сторінка</center></h1><hr>
    <center><h3><a href="index.html"class="nolinkdesign">Основна Сторінка</a> | <a href="feedback.html"class="nolinkdesign">Зворотній зв'язок</a> | <a href="author.html"class="nolinkdesign">Автор</a></center><hr>
</header>
<body>

</body>
</html>